
.page1{
    height: 100vh;
    width: 100%;
    background: #d02222;
}

.page2{
    height: 100vh;
    width: 100%;
    background: #0b59a2;
}

.page3{
    height: 100vh;
    width: 100%;
    background: #f10a8d;
}